body {
    font-size: 16px;
    color: #fff;
    background-color: white;
	color: black;
}
#header-nav {
	background-color: teal;
	border-radius: 0;
	border: 0;
	margin: 0;
}
h1 {
	font-family: 'Helvetica', sans-serif;
	margin: 15px 15px 15px 15px;
}
h3 {
	font-family: 'Helvetica', sans-serif;
	margin: 0px 0px 10px 0px;
}
#buttonmargin {
	margin: 14px 15px 14px 0px;
}
#h1margin {
	margin: 0px 15px 0px 15px;
}
#nav-list {
  	margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
    margin: 0px;
}
#nav-list a {
  	color: black;
  	border: 0.5px solid black;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  	border: 2px solid black;
}
.bg {
	background-color: white;
	padding: 0;
}
#main-content {
	color: black;
}
#jumb {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: PapayaWhip;
}
@media (min-width: 768px) and (max-width: 991px) {
#main-content {
	padding: 0px 30px;
}

@media (max-width: 767px) {
#main-content {
	padding: 0px 30px;
	margin: 50px;
}
.bg {
	padding: 300px;
}
